/*to remove the scroll from right and bottom
*/
*{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
}


html, body{
	height: 100%;
}

body{
	background-image: url("images/citynight.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;


}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a{
	margin-right: 10px;
	margin-top: 5px;
	text-decoration: none;
	color: white;

}

span{
    display: block;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}

.header{
  position: absolute;
  top: 20%;
  left: 5%;
  
}

.header h1{
	font-size: clamp(45px, 7vw, 110px);
}

.header h2{
	font-size: clamp(45px, 5vw, 110px);
}
.header button{
	font-size: 20px;
	margin-top: 15px;
	padding: 10px 12px;
  border-radius: 3px;
}

.arrow{
	width: 5vw;
	height: 5vw;
	background-color: white;
	position: absolute;
	bottom: 5%;
	left : 50%;
	border-radius: 50%;
	padding: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	


}