/*to remove the scroll from right and bottom
*/
*{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
}


html, body{
	height: 100%;
}

body{
	background-image: url("images/citynight.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;


}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a{
	margin-right: 10px;
	margin-top: 5px;
	text-decoration: none;
	color: white;

}

span{
    display: block;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}

.header{
  position: absolute;
  top: 20%;
  left: 5%;
  
}

.header h1{
	font-size: 7vw;
}

.header h2 {
	font-size: 6vw;
}
.header button{
	font-size: 20px;
	margin-top: 15px;
	padding: 10px 12px;
  border-radius: 3px;
}

.arrow{
	width: 5vw;
	height: 5vw;
	background-color: white;
	border-radius: 50%;
	padding: 13px;
	position: absolute;
	bottom: 5%;
	left : 50%;
	transform: translate(-50%);
	cursor: pointer;
	box-shadow: 0 0 0 0 #fff;
	animation: anim 1.3s ease-in-out infinite;
	
}


@keyframes anim {
	to {
		box-shadow: 0 0 0 16px #fff;
	}
}
@media (max-width: 500px) {

nav {
   font-size: 5vw;
	justify-content: space-around;
}


.arrow{
	width: 15vw;
	height: 15vw;

}

}